@model CashBuddie.Web.Models.InputModels.BankAccountDetailModel
@using CashBuddie.Web.Models.InputModels

@{
    ViewBag.Title = "Account Details";
}

<h2>Details</h2>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>

    </dl>
</div>


<table class="table">
    <tr>

        <th>Cash Date</th>
        <th>Cash Source</th>
        <th>Income/Expense</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model.Transactions)
    {

        <tr>
            <td>@item.CashActivityDate.Date</td>
            <td>@item.Source</td>
            <td>@item.Type</td>
            <td>@item.Amount</td>
        </tr>
    }
</table>

<br />
<br />
<br />

<p>
    @Html.ActionLink("Edit", "Edit", new BankAccountEditModel.BankAccountEditInputModel { Id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
